@charset "utf-8";

/** @section Fonts */
@font-face {
    font-family: Outfit;
    src: url("fonts/Outfit-VariableFont_wght.woff2") format(woff2) tech(variations);
    font-style: normal;
    font-weight: 300 600;
    font-display: swap;
}
